<footer>
    <div class="footer-mid">
        <div class="links">
            <h2>友情链接</h2>
            <ul>
                <tag action="links.lists">
                    <li><a href="{{$field['links_url']}}" target="_blank">{{$field['links_name']}}</a></li>
                </tag>
            </ul>
        </div>
        <div class="visitors">
            <h2>最新评论</h2>
            <dl>
                <dt><img src="{{__ROOT__}}/{{__TEMPLATE__}}/images/s8.jpg">
                <dt>
                <dd>DanceSmile
                    <time>49分钟前</time>
                </dd>
                <dd>在 <a href=""
                         class="title">如果要学习web前端开发，需要学习什么？ </a>中评论：
                </dd>
                <dd>文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</dd>
            </dl>
            <dl>
                <dt><img src="{{__ROOT__}}/{{__TEMPLATE__}}/images/s7.jpg">
                <dt>
                <dd>yisa
                    <time>2小时前</time>
                </dd>
                <dd>在 <a href="" class="title">芭蕾女孩的心事儿</a>中评论：</dd>
                <dd>我手机里面也有这样一个号码存在</dd>
            </dl>
            <dl>
                <dt><img src="{{__ROOT__}}/{{__TEMPLATE__}}/images/s6.jpg">
                <dt>
                <dd>小林博客
                    <time>8月7日</time>
                </dd>
                <dd>在 <a href=""
                         class="title">如果个人博客网站再没有价值，你还会坚持吗？ </a>中评论：
                </dd>
                <dd>博客色彩丰富，很是好看</dd>
            </dl>
        </div>
        <section class="flickr">
            <h2>摄影作品</h2>
            <ul>
                <slide row="9">
                    <li><a href="{{__ROOT__}}/{{$field['slide_linurl']}}"><img src="{{__ROOT__}}/{{$field['slide_thumb']}}"></a></li>
                </slide>
            </ul>
        </section>
    </div>
    <div class="footer-bottom">
        <p>Copyright 2013 Design by <a href="">sunshine</a></p>
    </div>
</footer>
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"><a id="togbook" href="/e/tool/gbook/?bid=1"></a> <a id="gotop" href="javascript:void(0)"></a></div>
<!-- 代码结束 -->
</body>
</html>