<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人博客</title>
    <!--360 browser -->
    <meta name="renderer" content="webkit">
    <meta name="author" content="wos">
    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!--Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <!--Win8 or 10 -->
    <meta name="msapplication-TileColor" content="#e1652f">

    <link rel="icon" type="image/png" href="{{__ROOT__}}/{{__TEMPLATE__}}/images/i/favicon.png">
    <link rel="stylesheet" href="{{__ROOT__}}/{{__TEMPLATE__}}/assets/css/amazeui.css">
    <link rel="stylesheet" href="{{__ROOT__}}/{{__TEMPLATE__}}/css/public.css">

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="{{__ROOT__}}/{{__TEMPLATE__}}/assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="{{__ROOT__}}/{{__TEMPLATE__}}/js/jquery.min.js"></script>
    <script src="{{__ROOT__}}/{{__TEMPLATE__}}/js/modernizr.js"></script>
    <script src="{{__ROOT__}}/{{__TEMPLATE__}}/assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="{{__ROOT__}}/{{__TEMPLATE__}}/assets/js/amazeui.min.js"></script>
    <script src="{{__ROOT__}}/{{__TEMPLATE__}}/js/public.js"></script>
</head>
<body>

<header class="am-topbar am-topbar-fixed-top wos-header">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="{{__ROOT__}}">陈涛个人博客</a>
        </h1>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-warning am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}">
            <span class="am-sr-only">导航切换</span>

            <span class="am-icon-bars"></span>
        </button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a href="{{__ROOT__}}">首页</a></li>
                <category pid="0">
                    <li><a href="{{$field['url']}}">{{$field['cate_name']}}</a></li>
                </category>
            </ul>
        </div>
    </div>
</header>
<blade name="content"/>
<footer style="padding: 20px 0 5px 0;">
    <div class="content">
        <p>陈涛个人博客<br>京ICP备17005376号</p>
    </div>
</footer>
</body>
</html>