<extend file='templates/mobile/common.html'/>
<block name="content">
    <!--banner-->
    <div class="banner">
        <div class="am-g am-container padding-none">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 padding-none">
                <div data-am-widget="slider" class="am-slider am-slider-c1" data-am-slider='{"directionNav":false}'>
                    <ul class="am-slides">
                        <slide row="4">
                            <li>
                                <img style="height: 160px;width: 100%" src="{{__ROOT__}}/{{$field['slide_thumb']}}">
                                <div class="am-slider-desc">{{$field['slide_title']}}</div>
                            </li>
                        </slide>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g am-container padding-none">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-8">
            <div data-am-widget="list_news" class="am-list-news am-list-news-default ">
                <div class="am-list-news-bd">
                    <ul class="am-list">
                        <article cid="$cate_id">
                            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left"
                                style="border-top: 0px;border: none">
                                <div class="am-u-sm-5 am-list-thumb">
                                    <a href="{{$field['url']}}">
                                        <img src="{{__ROOT__}}/{{$field['art_thumb']}}" alt="{{$field['art_title']}}"/>
                                    </a>
                                </div>
                                <div class=" am-u-sm-7 am-list-main">
                                    <h3 class="am-list-item-hd"><a href="{{$field['url']}}">{{$field['art_title']}}</a>
                                    </h3>

                                    <div class="am-list-item-text">{{$field['art_description']}}</div>

                                </div>
                            </li>
                            <div class="newsico am-fr" style="margin-top: -4px">
                                <i class="">{{date('y/m/d',strtotime($field['created_at']))}}</i>
                            </div>
                            <hr data-am-widget="divider" class="am-divider am-divider-default"/>
                        </article>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>